<!DOCTYPE HTML>
<html>
    <head>
        <style type="text/css">
            body {
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                background: #cccccc;
                font-family: Helvetica, Arial, sans-serif;
                padding: 10px;
            }

            .header {
                margin: 50px auto 0px auto;
                padding: 10px 10px 10px 10px;
                max-width: 960px;
                min-width: 400px;
                color: #434343;
                background: #fff;
                border-radius: 10px;
                font-size: 2em;
            }

            .container {
                margin: 10px auto 0px auto;
                padding: 10px 10px 10px 10px;
                max-width: 960px;
                min-width: 400px;
                background: #fff;
                border-radius: 10px;
            }

                .container .door {
                    margin: 0px 0px 0px 0px;
                    padding: 10px 10px 10px 10px;
                    border-radius: 10px;
                    color: #434343;
                    overflow: hidden;
                }

                    .container .door .door-name {
                        margin: 0px 0px 0px 0px;
                        padding: .3em 0em .3em 0em;
                        position: relative;
                        float: left;
                        display: -webkit-box;
                    }

                    .container .door .door-message {
                        margin: 5px 0px 0px 0px;
                        padding: 0px 0px 0px 10px;
                        position: relative;
                        float: left;
                        font-size: .8em;
                        font-style: italic;
                        color: #cc3333;
                        font-weight: bold;
                    }

                    .container .door .actions {
                        margin: 0px 0px 0px 0px;
                        padding: 0px 0px 0px 0px;
                        position: relative;
                        float: right;
                    }

                        .container .door .actions .action-button {
                            margin: 0px 0px 0px 0px;
                            padding: 5px 15px 5px 15px;
                            background: #DDDDDD;
                            border: 1px solid #a0a0a0;
                            position: relative;
                            float: right;
                            border-radius: 5px;
                            font-size: .8em;
                            color: #434343;
                        }

                            .container .door .actions .action-button[disabled="disabled"] {
                                background: #eeeeee;
                                color: #cccccc;
                                border: 1px solid #bbbbbb;
                            }

                            .container .door .actions .action-button:hover {
                                background: #C0C0C0;
                                cursor: pointer;
                            }


                            .container .door .actions .action-button[disabled="disabled"] {
                                background: #eeeeee;
                                color: #cccccc;
                            }

                            .container .door .actions .action-button:not(:last-of-type){
                                margin-left: 10px;
                            }

                .container .door:not(:first-of-type){
                    margin-top: 10px;
                }

                .closed {
                    background: #80C080;
                }

                .open {
                    background: #FF8080;
                }

                .unknown {
                    background: #DDDDDD;
                }

                .popping {
                    background: #FFD280;
                }


        </style>
        <title>Gatekeeper</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){

            var sent_actions = {};

            var socket = new WebSocket('<%= "ws://#{hostname}:#{wsport}" %>');
            socket.onopen = function(data){
                socket.send("AUTH:poop");
            }

            function handle_action_button(elem){

                switch(elem.attr('door_action')){
                    case 'pop':
                        pop_door(elem);
                        break;

                    case 'unlock':
                        unlock_door(elem);
                        break;

                    case 'lock': 
                        lock_door(elem);
                        break;
                }
            }

            socket.onmessage = function(data){
                data = JSON.parse(data.data);

                if('states' in data){
                    update_states(data.states);
                }

                if(data.id in sent_actions){
                    sent_actions[data.id].action(data);
                }

            }

            function update_states(states){

                if($('.door').length == 0){
                    var doors = $('#door_container');
                    for(var i = 0; i < states.length; i++){
                        var door = $('<div class="door" id="' + states[i].id + '"></div>');

                        if(states[i].state == 'unlocked'){
                            door.addClass('open');
                        } else if(states[i].state == 'locked'){
                            door.addClass('closed');
                        } else {
                            door.addClass('unknown');
                        }

                        door.append('<div class="door-name">' + states[i].name + '</div>');

                        door.append('<div class="door-message"></div>');

                        var pop = $('<input type="button" class="action-button" door_action="pop" door_id="' + states[i].id + '" value="Pop">'),
                            unlock = $('<input type="button" class="action-button" door_action="unlock" door_id="' + states[i].id + '" value="Unlock">'),
                            lock = $('<input type="button" class="action-button" door_action="lock" door_id="' + states[i].id + '" value="Lock">');

                        if(states[i].pop != true){
                            pop.attr('disabled', true);
                        }

                        if(states[i].unlock != true){
                            unlock.attr('disabled', true);
                        }

                        if(states[i].lock != true){
                            lock.attr('disabled', true);
                        }


                        var actions = $('<div class="actions">' + '</div>');

                        actions.append(pop);
                        actions.append(unlock);
                        actions.append(lock);

                        door.append(actions)


                        $('#door_container').append(door);
                    }

                } else {
                    for(var i = 0; i < states.length; i++){
                        var door = $('#' + states[i].id);

                        door.attr('class', 'door');

                        if(states[i].state == 'unlocked'){
                            door.addClass('open');
                        } else if(states[i].state == 'locked'){
                            door.addClass('closed');
                        } else if(states[i].state == 'unknown'){
                            door.addClass('unknown');
                        } else {
                            // something here...
                        }

                    }
                }
            }

            function pop_door(element){
                var id = (new Date()).getTime();

                var callback = function(response){
                    var data = sent_actions[response.id];
                    var door = $('#' + data.id);

                    if(response.success == true){ 
                        door.attr('class', 'door');
                        door.addClass('open');

                        setTimeout(function(){
                            door.attr('class', 'door');
                            door.addClass('closed');
                        }, 2000);
                    } else {

                        door.find('.door-message').html(response.error);

                        setTimeout(function(){
                            door.find('.door-message').html('');
                        }, 2000);
                    }

                }


                sent_actions[id] = {id: element.attr('door_id'), action: callback};

                socket.send("POP:" + element.attr('door_id') + ':' + id);
            }

            function unlock_door(element){
                var id = (new Date()).getTime();
                var callback = function(response){
                    var data = sent_actions[response.id];
                    var door = $('#' + data.id);
                    if(response.error == null){
                        door.attr('class', 'door');
                        door.addClass('open');
                    } else {
                        door.find('.door-message').html(response.error);

                        setTimeout(function(){
                            door.find('.door-message').html('');
                        }, 2000);
                    }

                }


                sent_actions[id] = {id: element.attr('door_id'), action: callback};

                socket.send("UNLOCK:" + element.attr('door_id') + ':' + id);
            }

            function lock_door(element){
                var id = (new Date()).getTime();
                var callback = function(response){
                    var data = sent_actions[response.id];
                    var door = $('#' + data.id);

                    if(response.error == null){
                        door.attr('class', 'door');
                        door.addClass('closed');
                    } else {
                        door.find('.door-message').html(response.error);

                        setTimeout(function(){
                            door.find('.door-message').html('');
                        }, 2000);
                    }

                }

                sent_actions[id] = {id: element.attr('door_id'), action: callback};

                socket.send("LOCK:" + element.attr('door_id') + ':' + id);
            }

            $('.action-button').live('click', function(event){
                handle_action_button($(this));
            });


        });
        </script>
    </head>
    <body>
        <div class="header">
            CSH Gatekeeper
        </div>
        <div class="container" id="door_container">
        </div>
    </body>
</html>
