<!DOCTYPE HTML>
<html>
    <head>
        <title>Gatekeeper</title>
        <!--<link href="/css/style.css">-->
        <link href="css/style.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="js/connection.js"></script>
        <script type="text/javascript" src="js/rest.js"></script>
        <script type="text/javascript" src="js/websocket.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript">

        var sent_actions = {},
            current_stat;

        function update_states(states){
            if($('.door').length == 0){
                for(var i = 0; i < states.length; i++){
                    var door = $('<div class="door" id="' + states[i].id + '"></div>');

                    if(states[i].state == 'unlocked'){
                        door.addClass('open');
                    } else if(states[i].state == 'locked'){
                        door.addClass('closed');
                    } else {
                        door.addClass('unknown');
                    }

                    door.append('<a class="door-name" href="log/' + states[i].id + '">' + states[i].name + '</a>');

                    door.append('<div class="door-state">' + states[i].state + '</div>');

                    door.append('<div class="door-message"></div>');

                    var pop = $('<input type="button" class="action-button pop" door_action="pop" door_id="' + states[i].id + '" value="Pop">');
                    var unlock = $('<input type="button" class="action-button unlock" door_action="unlock" door_id="' + states[i].id + '" value="Unlock">');
                    var lock = $('<input type="button" class="action-button lock" door_action="lock" door_id="' + states[i].id + '" value="Lock">');

                    if(states[i].pop != true){
                        pop.attr('disabled', 'disabled');
                    }

                    if(states[i].unlock != true){
                        unlock.attr('disabled', 'disabled');
                    }

                    if(states[i].lock != true){
                        lock.attr('disabled', 'disabled');
                    }

                    var actions = $('<div class="actions">' + '</div>');

                    actions.append(pop);
                    actions.append(unlock);
                    actions.append(lock);

                    door.append(actions)


                    $('#door_container').append(door);
                }

            } else {
                for(var i = 0; i < states.length; i++){
                    var door = $('#' + states[i].id);
                    var door_state = $('#' + states[i].id + " > .door-state");

                    door.attr('class', 'door');
                    door_state.html(states[i].state);

                    if(states[i].state == 'unlocked'){
                        door.addClass('open');
                    } else if(states[i].state == 'locked'){
                        door.addClass('closed');
                    } else if(states[i].state == 'unknown'){
                        door.addClass('unknown');
                    } else {
                        // something here...
                    }

                    var pop    = $('.container > #' + states[i].id + ' > .actions > .pop');
                    var unlock = $('.container > #' + states[i].id + ' > .actions > .unlock');
                    var lock   = $('.container > #' + states[i].id + ' > .actions > .lock');


                    if(states[i].pop != true){
                        pop.attr('disabled', 'disabled');
                    } else {
                        pop.removeAttr('disabled');
                    }

                    if(states[i].unlock != true){
                        unlock.attr('disabled', 'disabled');
                    } else {
                        unlock.removeAttr('disabled');
                    }

                    if(states[i].lock != true){
                        lock.attr('disabled', 'disabled');
                    } else {
                        lock.removeAttr('disabled');
                    }
                }
            }
        }

        var userkey = '<%= key %>';
        </script>
    </head>
    <body>
        <div class="header">
            CSH Gatekeeper
        </div>
        <div class="container" id="door_container">
        </div>
    </body>
</html>
