body {
	background: #344544;
}
h1 {
	text-align: center;
	margin: 10px;
}
td {
	padding: 0px 7px;
}
button {
	width: 100%;
}
table {
	margin: auto;
}
.locked {
	text-align: center;
	color: #007000;
	font-weight: bold;
}
.unlocked {
	text-align: center;
	color: #900000;
	font-weight: bold;
}
#content {
	background: #A0B7C4;
	border-radius: 10px;
	width: 400px;
	margin: auto;
	padding: 5px;
}
#doors {
	background: #8097A4;
	border-radius: 5px;
	padding: 10px;
}
